<div class="row user-page">
  <h1><%= @other.name %></h1>
  <div class="col m12 s12 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Informations</span>
        <p>Email : <%= @other.email %></p>
        <p><%= @other.created_at.strftime("%A %d %B, %Y")%>, at <%= @other.created_at.strftime("%H:%M") %></p>
      </div>
      <% if current_user.id == @other.id %>
        <div class="card-action">
          <a href="/users/edit" class="btn light-blue darken-4 white-text">Edit my account</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col m12 s12 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Friends</span>
        <% if @friends.length > 0 %>
          <ul class="collection">
            <% @friends.each do |friend| %>
              <li class="collection-item blue-grey-text darken-1">
                <div>
                  <%= friend.name %>
                  <a href="/users/<%= friend.id %>" class="secondary-content light-blue-text darken-4">
                    <i class="material-icons">send</i>
                  </a>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% if current_user.id != @other.id %>
        <div class="card-action">
        <% if @we_are_friends == 1 %>
          <%= form_tag "/users/#{@other.id}", method: "delete" do %>
            <input class="btn red darken-2" id="destroyFriend" type="submit" value="Destroy your Friend" />
          <% end %>
        <% else %>
          <%= form_tag "/users/#{@other.id}", method: "post" do %>
            <input class="btn light-blue accent-3" id="addFriend" type="submit" value="Add Friend" />
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
