<div class="row user-page">
  <span class="<%= current_user.id %>" id="user-id"></span>
  <h1><%= @other.name %></h1>
  <div class="col m12 s12 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Informations</span>
        <p>Email : <%= @other.email %></p>
        <p><%= @other.created_at.strftime("%A %d %B, %Y")%>, at <%= @other.created_at.strftime("%H:%M") %></p>
      </div>
      <% if current_user.id == @other.id %>
        <div class="card-action">
          <a href="/users/edit" class="btn light-blue darken-4 white-text">Edit my account</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col m12 s12 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Friends</span>
        <% if @friends.length > 0 %>
          <ul class="collection">
            <% @friends.each do |friend| %>
              <li class="collection-item blue-grey-text darken-1">
                <div>
                  <%= friend.name %>
                  <a href="/users/<%= friend.id %>" class="secondary-content light-blue-text darken-4">
                    <i class="material-icons">send</i>
                  </a>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% if current_user.id != @other.id %>
        <div class="card-action">
        <button class="btn light-blue accent-3" id="btnFriend" type="submit">AddFriend</button>
        <div class="<%= @we_are_friends == 1 %>" id="we_are_friend"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col s12 m12 l12">
    <% if current_user %>
      <div class="row">
        <%= form_tag "/publish/#{@other.id}", method: "post", class: "col s12 m12 l12" do %>
          <div class="row">
            <div class="input-field s10 offset-s1 col">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea" name="post[message]"></textarea>
              <label for="icon_prefix2">Publiez un message :</label>
              <button type="submit" class="light-blue darken-4 btn waves-effect waves-light" name="action">
                Publier <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row posts">
      <ul>
        <% @posts.each do |post| %>
          <li class="s12 m10 offset-m1 col">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <a href="/users/<%=  %>" class="card-title"><%= %></a>
                <p><%= post.message %></p>
              </div>
              <div class="card-action">
                <span class="right orange-text accent-2"><%= post.created_at.strftime("%A %d %B, %Y") %>, at <%= post.created_at.strftime("%H:%M") %></span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
