<div class="row wall">
  <div class="columns medium-6">
    <h1>Public#wall</h1>
    <p>Find me in app/views/public/wall.html.erb</p>
  </div>
  <div class="columns medium-6 list-users">
    <div class="row title-list">
      <div class="columns medium-6">
        <span>Name</span>
      </div>
      <div class="columns medium-6">
        <span>Email</span>
      </div>
    </div>
    <% @users.each do |user| %>
      <div class="row row-list">
        <div class="columns medium-5">
          <%= user.name %>
        </div>
        <div class="columns medium-5">
          <%= user.email %>
        </div>
        <div class="columns medium-2">
          <a href="/users/<%= user.id %>">Show</a>
        </div>
      </div>
    <% end %>
  </div>

<div class="row">
  <div class="large-6 large-offset-4 columns">
    <h1>Your Wall !</h1>
  </div>
</div>

<% if @user %>

<form action="/publish" action="POST">
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <label> Publiez un message :</label>
          <textarea name="post[message]"></textarea>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="small-2 columns">
        <input type="submit" value="Publier !" class="button postfix">
      </div>
    </div>
  </div>
</form>

<% end %>
<div class="row">
  <ul class="no-bullet">
  <% @posts.each do |post| %>
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <li>
          <article class="panel">
            <div class="row">
              <p> <%= @user.email %> </p>
            </div>
            <div class="row">
              <p> <%= post.message %> </p>
            </div>
            <div class="row">
              <div class="large-6 large-offset-7 columns">
                <p> Posted: <%= post.created_at.strftime("%A %d %B, %Y") %>, at <%= post.created_at.strftime("%H:%M") %>.  </p>
              </div>
            </div>
          </article>
        </li>
      </div>
    </div>
  </div>

  <% end %>
  </ul>
</div>
