<div class="row wall">
  <div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3">
    <h1 class="center-align">Your Wall !</h1>
  </div>

  <% if @user %>
    <div class="row">
      <form action="/publish" action="POST" class="col s12 m12">
        <div class="row">
          <div class="input-field s10 offset-s1 col">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" name="post[message]"></textarea>
            <label for="icon_prefix2">Publiez un message :</label>
            <button type="submit" class="light-blue darken-4 btn waves-effect waves-light" name="action">
              Publier <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  <% end %>

<div class="row posts">
  <ul>
    <% @posts.each do |post| %>
      <li class="s12 m10 offset-m1 col">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p class="card-title"><a class="orange-text accent-2-text" href="/users/<%= post.user_id %>"><%= User.find(post.user_id).name %></a> <% if post.friend_id %> to <a class="orange-text accent-2" href="/users/<%= post.user_id %>"><%= User.find(post.friend_id).name %></a> <% end %></p>
            <p><%= post.message %></p>
          </div>
          <div class="card-action">
            <% if current_user.id == post.user_id %>
               <span> <%= link_to "Delete", post, method: :delete %></span>
           <% end %>
            <span class="right"><%= post.created_at.strftime("%A %d %B, %Y") %>, at <%= post.created_at.strftime("%H:%M") %></span>
          </div>

        </div>
      </li>
    <% end %>
  </ul>
</div>
