<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The UnFaceBook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1>The UnFaceBook</h1>
        </li>
      </ul>
      <ul class="menu right">
        <% if user_signed_in? %>
          <li><a href="/">Home</a></li>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
        <% else %>
          <li><a class="color" href="/users/sign_up">Sign up</a></li>
          <li><a class="color" href="/users/sign_in">Login</a></li>
        <% end %>
      </ul>
    </header>
    <main class="container">
      <% if notice %>
        <div data-alert class="alert-box success">
          <span class="notice"><%= notice %></span>
        </div>
      <% end %>
      <% if alert %>
        <div data-alert class="alert-box alert">
          <span class="alert"><%= alert %></span>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
